/* src/pages/Login.css */
body {
    margin-top: 0px;
    background: #f6f9fc;
  }
  
  #main-wrapper {
    min-height: 100vh; /* Ajusta a altura da div principal */
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

  .account-block {
    padding: 0;
    background-image: url('/src/assets/backgroundlogin.jpg'); /* Caminho da imagem de fundo */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; /* Centraliza a imagem */
    height: 100%;
    position: relative;
  }
  
  .account-block .overlay {
    flex: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .account-block .account-testimonial {
    text-align: center;
    color: #fff;
    position: absolute;
    margin: 0 auto;
    padding: 0 1.75rem;
    bottom: 3rem;
    left: 0;
    right: 0;
  }
  
  .logo-image {
    max-width: 200px;
  }
  
  .text-theme {
    color: black !important;
  }
  
  .text-muted {
    margin-bottom: 5px; /* Diminuir o espaço entre a frase e o campo de e-mail */
}

.form-group {
    margin-bottom: 10px; /* Ajustar o espaço entre o campo de e-mail e senha */
}

  .btn-theme {
    background-color: #5369f8;
    border-color: #5369f8;
    color: #fff;
}

.btn-login {
  width: 100%; /* Deixa o botão mais comprido */
  padding: 10px; /* Aumenta a altura do botão */
  font-size: 16px; /* Ajusta o tamanho da fonte do botão */
  background: linear-gradient(90deg, #28a745, #007bff); /* Degradê do verde para o azul */
  border: none; /* Remove a borda */
  color: #fff; /* Cor do texto */
  border-radius: 5px; /* Borda arredondada */
  transition: background 0.3s ease; /* Animação suave ao passar o mouse */
  margin-top: 5px;
}

.btn-login:hover {
  background: linear-gradient(90deg, #218838, #0056b3); /* Cores um pouco mais escuras ao passar o mouse */
}

.forgot-link {
  display: block; /* Exibe o link como um bloco */
  text-align: center;
  margin-top: 10px; /* Adiciona espaço acima do texto */
  font-weight: normal !important; /* Remove o negrito com prioridade */
  color: #007bff; /* Cor do texto */
  text-decoration: none; /* Remove o sublinhado */
}

.forgot-link:hover {
  text-decoration: underline; /* Adiciona sublinhado no hover */
}

.p-5 {
  padding: 2rem !important; /* Ajusta o padding para um valor adequado */
}

.form-group {
  margin-bottom: 4px; /* Ajuste o valor conforme necessário */
}


@media (min-width: 768px) {
  .gradient-form {
  height: 100vh !important;
  }
  }
  @media (min-width: 769px) {
  .gradient-custom-2 {
  border-top-right-radius: .3rem;
  border-bottom-right-radius: .3rem;
  }
  }