.reservas-container {
    max-width: 1200px; /* Aumentei o tamanho máximo */
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.reservas-list {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem na linha */
    gap: 20px; /* Espaço entre os itens */
    list-style: none;
    padding: 0;
    justify-content: center; /* Centraliza os itens na página */
}

.reservas-item {
    flex: 1 1 calc(33.333% - 20px); /* Tamanho dos itens (33% de largura) */
    padding: 15px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    min-width: 280px; /* Define um tamanho mínimo para os itens */
    max-width: 400px; /* Define um tamanho máximo para os itens */
}

.reservas-item h4 {
    margin: 0;
    font-size: 1.5rem;
}

.reservas-item p {
    margin: 5px 0;
    color: #555;
}

.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #c82333;
}

.btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.btn-primary:hover {
    background-color: #0056b3;
}
